@use '../../style/globals' as *;

:host {
  display: block;
  width: 100%;
  overflow: hidden;
}

#questionnaire-title {
  @include header;
}

#form-wrapper {
  display: block;
  margin: $header-height auto 0;
  max-width: 700px;
  width: calc(100% - #{$body-margin * 2});
  padding: 0 1em;
  height: auto;
  box-shadow: 0 -10px 0 $page-background, 0 10px 0 $page-background, -10px 0 10px $lightGrey, 10px 0 10px $lightGrey;

  #button-container {
    display: flex;
    justify-content: flex-end;
  }
}

app-results {
  margin-top: $header-height;
  display: block;
}
