


<div id="questionnaire-title">
  <h1 *ngIf="state && !showGrantsMet">
    <ng-container *ngIf="state.current_grant.parent">{{ state.current_grant.parent.name_de }} > </ng-container>
    {{ state.current_grant.name_de}}
  </h1>
  <h1 *ngIf="!state && !showGrantsMet">Fragebogen</h1>
  <h1 *ngIf="showGrantsMet">Resultat</h1>
</div>
<div id="form-wrapper" *ngIf="!showGrantsMet">
  <form
    *ngIf="!loading"
    [formGroup]="questionsForm"
    (ngSubmit)="onNext()"
  >
    <app-question
      *ngFor="let question of state.current_grant.questions"
      [question]="question"
      [formControlName]="question.id"
    ></app-question>

    <br>
    <div id="button-container">
      <button
        class="btn"
        type="button"
        *ngIf="questionsHistory.length"
        (click)="onBack()"
      >Zurück
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!questionsForm.valid"
      >Weiter
      </button>
    </div>
  </form>
  <app-loading
    *ngIf="loading"
  ></app-loading>
  <br><br>
</div>

<ng-template [ngIf]="showGrantsMet">
  <app-results
    [state]="state"
  >
  </app-results>
  <button class="btn" (click)="showGrantsMet=false; onBack();">Zurück</button>
</ng-template>
