<div>
  <button
    type="button"
    class="collapsible"
    (click)=onClick()
  >{{ grant.name_de }}
  </button>
  <div class="content" #collapseContent>
    <div class="questionParagraph" *ngFor="let requirement of grant.requirements">
      <app-loading *ngIf="questionsLoading || !requirement.question.text_de "></app-loading>
      <div
        class="questionCollapsible"
        *ngIf="!questionsLoading || requirement.question.text_de">
        <p style="margin-top: auto; margin-bottom: auto;">{{ requirement.question.text_de }}</p>
        <div>
          <p *ngIf="requirement.bool == true" class="requirementConditions"><i class="fas fa-check"></i></p>
          <p *ngIf="requirement.bool == false" class="requirementConditions"><i class="fas fa-times"></i></p>
          <p *ngIf="requirement.int_exact !== null" class="requirementConditions"> = {{ requirement.int_exact }}</p>
          <p *ngIf="requirement.int_lt !== null" class="requirementConditions"> < {{ requirement.int_lt }}</p>
          <p *ngIf="requirement.int_gt !== null" class="requirementConditions"> > {{ requirement.int_gt }}</p>
          <p *ngIf="requirement.date_exact !== null" class="requirementConditions"> = {{ requirement.date_exact | date:"dd.MM.yyyy" }}</p>
          <p *ngIf="requirement.date_lt !== null" class="requirementConditions"> < {{ requirement.date_lt | date:"dd.MM.yyyy" }}</p>
          <p *ngIf="requirement.date_gt !== null" class="requirementConditions"> > {{ requirement.date_gt | date:"dd.MM.yyyy" }}</p>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="add_Question_button"
      (click)=onClick_addQ()>
      Add Question
    </button>
    <div class="addQuestion_form" #collapseQuestion>
      <app-create-question></app-create-question>
    </div>
    <app-admin-grant
      *ngFor="let childGrant of grant.children"
      [grant]="childGrant"
      [questionsLoading]="questionsLoading"
    ></app-admin-grant>
  </div>
</div>
