@use '../../../../style/globals' as *;

app-admin-grant{
  padding-left: 1em;
  display: block;
  border-left: 1px solid $grey;
}

//Shows Requirements of Grant
.collapsible{
  background-color: $page-background;
  color: $font-color;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  background-color: $lightGrey;
}

.questionParagraph{
  margin: 0;
}

.questionCollapsible{
  padding: 10px;
  border-left: 1px solid $grey;
}

//Grant Requirements(Questions)
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.content.active {
  display: block;
}

//Shows "addQuestionForm"
.add_Question_button{
  background-color: $lightGrey;
  color: $font-color;
  cursor: pointer;
  padding: 18px;
  border:  2px solid $page-background;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 18px;
}
.add_Question_button:hover {
  background-color: $page-background;
  border: 2px solid $lightGrey;
}

//Form for adding a Question("<div>")
.addQuestion_form {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: $page-background;
  margin: 5px;
}
.addQuestion_form.active_addQ {
  display: block;
}

//Form for adding a Question("<form>")
.formQuestions {
  display: flex;
}

//Input Fields in Add Question Form
.inputfields{
  width: 100%;
  margin: 2px;
  height: 30px;
  font-size: 15px;
  border: 2px solid $lightGrey;
  background-color: $page-background;

}

//Submit Buttons in Add Question Form
.submit_button{
  background-color: $lightGrey;
  color: $font-color;
  cursor: pointer;
  border:  2px solid $page-background;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin: 2px;
  width: 100px;
  margin-left: 20px;
}
.submit_button:hover {
  background-color: $page-background;
  border: 2px solid $lightGrey;
}

.requirementCollapsible{
  margin-left: 15px;
  border-left: 1px solid $grey;
  padding-left: 15px;
  margin-top: 0;
}


.requirementConditions{
  margin: 5px;
}


