<div>
  <button
    type="button"
    class="collapsible"
    (click)=onClick()
  >{{ grant.name_de }}</button>
  <div class="content" #collapseContent>
    <p *ngFor="let requirement of grant.requirements">
      <app-loading *ngIf="questionsLoading"></app-loading>
      <span *ngIf="!questionsLoading">{{requirement.question}}{{questionsLoading}}</span>
    </p>
    <button
      type="button"
      class="add_Question_button"
      (click)=onClick_addQ()>
        Add Question
    </button>
    <div class="addQuestion_form" #collapseQuestion>
      <form (ngSubmit)="onAddQ()" class="formQuestions">
        <div style="width:100%">
          <input type="text" id="text_de" class="inputfields" name="text_de" placeholder="Frage auf Deutsch:">
          <input type="text" id="text_en" class="inputfields" name="text_en" placeholder="Frage auf Englisch:">
          <select class="inputfields">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
          <button  style="float: right;" type="button" class="submit_button" name="submitButton">Submit</button>
      </form>
    </div>
    <app-admin-grant
      *ngFor="let childGrant of grant.children"
      [grant]="childGrant"
    ></app-admin-grant>
  </div>
</div>


