@use 'globals' as *;

.btn {
  @include transition;
  padding: .5em 1em;
  border: none;
  background-color: $grey
}

.btn:hover{
  background-color: $lightGrey;
}

.btn + .btn {
  margin-left: .5em;
}

.btn-primary {
  background-color: $primaryColor;
  color: $secondaryColor;
}

.btn-primary:disabled {
  background-color: $primaryColorMuted;
}

.btn-primary:hover {
  background-color: $primaryColorHover;
}
