$primaryColor: #d42026;
$primaryColorHover: lighten($primaryColor, 10);
$primaryColorMuted: rgba($primaryColor, .6);
$secondaryColor: white;
$errorRed: #e00909;
$grey: #d0d0d0;
$lightGrey: #eaeaea;

$page-background: #fcfcfc;

$font-family: Futura, "Franklin Gothic Medium", Arial, sans-serif;

$body-margin: 1rem;
$header-height: 5rem;

$transitionLength: 200ms;



@mixin transition {
  $transition: all $transitionLength linear;
  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

@mixin header {
  background-color: $primaryColor;
  color: $secondaryColor;
  text-align: center;
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
