<div id="overlay">
  <div class="messageContainer">
    <div class="message">
      <h1>Errormessage</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor dui ac venenatis laoreet.
        In vitae rhoncus leo. Mauris ante elit, tincidunt eu auctor vitae, sodales in purus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean tempus dolor erat,
        quis dictum nunc ultricies eu. Mauris placerat condimentum nisi sed convallis.
        Donec facilisis felis nec orci sodales, eu commodo eros egestas.</p>
      <div >
        <button
          type="button"
          class="closeButton"
        >Close</button>
      </div>
    </div>
  </div>
</div>
