@use '../../../style/globals' as *;

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.messageContainer{
  margin: 0;
  width: calc(100% - 2 * 1em);
  padding: 1em;
}

.message{
  position: inherit;
  //border: 2px solid $lightGrey;
  box-shadow: 0 0 5px $lightGrey;
  background-color: $page-background;
  display: flex;
  height: 35px;
  pointer-events: all;
  margin: 0.8em;
  padding-left: 8px;
  padding-right: 8px;
}

.error{
  margin-top: 0;
  display: inline;
  line-height: 35px;
}

.close{
  color: $font-color;
  padding: 0;

}
.close:hover{
  box-shadow: 0 0 5px $lightGrey;
  border: 1px solid $font-color;
}

.exiticon{
  width: 35px;
  height: 100%;
  text-align: center;
  display: inline;
}
.containerExiticon{
  margin-left: auto;
  line-height: 35px;
}

.INFO{
  background-color: #2962ff;
  color: $font-color;
}
.ERROR{
  background-color: #d50000;
  color: $font-color;
}
.SUCCESS{
  background-color: #64dd17;
  color: $font-color;
}
.WARN{
  background-color: #ffc800;
  color: $font-color;
}
