@use '../../../style/globals' as *;

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.messageContainer{
  margin: 0;
  width: 100%;
}

.message{
  position: inherit;
  border: 2px solid $lightGrey;
  box-shadow: 0 0 5px $lightGrey;
  background-color: $page-background;
  display: none;
  height: 35px;


}
.message.active{
  display: flex;
}

.error{
  margin-top: 0;
  display: inline;
  line-height: 35px;
}

.close{
  color: $lightGrey;
  line-height: 35px;

}
.close:hover{
  color: $font-color;
}

.exiticon{
  width: 35px;
  height: 100%;
  text-align: center;
  margin-left: auto;
  display: inline;
}
