@use '../../../style/globals' as *;

.edit{
  display: none;
}
.mouseover{
  display: flex;

}

.mouseover:hover .edit{
  display: block;
}

.editsymbol_placeholder{
  width: 35px;
}


//Form for adding a Question("<div>")
.addQuestion_form {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: $page-background;
  margin: 5px;
}
.addQuestion_form.active_addQ {
  display: block;
}

//Form for adding a Question("<form>")
.formQuestions {
  display: flex;
}

//Input Fields in Add Question Form
.inputfields{
  width: 100%;
  margin: 2px;
  height: 30px;
  font-size: 15px;
  border: 2px solid $lightGrey;
  background-color: $page-background;

}

//Submit Buttons in Add Question Form
.submit_button{
  background-color: $lightGrey;
  color: $font-color;
  cursor: pointer;
  border:  2px solid $page-background;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin: 2px;
  width: 100px;
  margin-left: 20px;
}
.submit_button:hover {
  background-color: $page-background;
  border: 2px solid $lightGrey;
}
