<app-create-question (createQuestion)="onCreateQuestion($event)"></app-create-question>
<div *ngFor="let question of questions" class="mouseover">
  <div class="editsymbol_placeholder">
    <i class="fas fa-edit edit" style="margin:16px; margin-right: 0;" (click)="onQuestionEditCollapsible(question)"></i>
  </div>
  <div>
    <p style="margin: 16px; margin-right: 0;">
      {{ question.text_de }}
    </p>
  </div>
  <app-create-question *ngIf="question.is_edit" (createQuestion)=onQuestionEdit($event) [textDE]="question.text_de" [textEN]="question.text_en" [questiontype]="question.type" [id]="question.id"></app-create-question>

</div>
