<form style="display: flex" (ngSubmit)="onQuestionAdd()" #questionAddForm="ngForm">
  <div style="width:90%;" >
    <input type="text" id="text_de" [(ngModel)]="model.textDe" class="inputfields" name="text_de" placeholder="Frage auf Deutsch:">
    <input type="text" id="text_en" [(ngModel)]="model.textEn" class="inputfields" name="text_en" placeholder="Frage auf Englisch:">
    <select [(ngModel)]="model.questionType" class="inputfields" name="questiontype" id="questiontype">
      <option
        *ngFor="let questionType of questionTypes"
        [value]="questionType.id"
      >
        {{ questionType.name_de }}
      </option>
    </select>
  </div>
  <div style="display: flex; align-items: center">
    <button
      style="float: right;"
      type="submit"
      class="submit_button"
      name="submitButton"
    >Submit</button>
  </div>
</form>
